<%= turbo_frame_tag :drawer do %>
  <div id="kt_drawer_example_basic"
       class="bg-white"
       data-controller='components--drawer'
       data-components--drawer-show-value='true'
       data-action='turbo:before-render@document->components--drawer#hideBeforeRender'
       data-kt-drawer-activate="true"
       data-kt-drawer-close="#<%= @close_button_id %>"
       data-kt-drawer-width="<%= @width %>"
       data-kt-drawer-direction="<%= @direction %>">
    <div class="card w-100 rounded-0">
      <div class="card-header pe-5">
        <div class="card-title">
          <div class="d-flex justify-content-center flex-column me-3">
              <a href="#" class="fs-4 fw-bolder text-gray-900 text-hover-primary me-1 lh-1">
                <%= @title %>
              </a>
          </div>
        </div>
        <div class="card-toolbar">
          <div class="btn btn-sm btn-icon btn-active-light-primary"
               id="<%= @close_button_id %>">
            <span class="svg-icon svg-icon-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor"></rect>
                <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor"></rect>
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="card-body hover-scroll-overlay-y">
        <%= content %>
      </div>
    </div>
  </div>
<% end %>
