<%= render TurboDrawerComponent.new(title: @user.full_name) do %>
  <div class="d-flex flex-center flex-column py-5">
    <div class="symbol symbol-100px symbol-circle mb-7">
      <div class="symbol-label fs-3 bg-light-danger text-danger">
        <%= @user.initial_capital_letters %>
      </div>
    </div>
    <div class="fs-3 text-gray-800 text-hover-primary fw-bolder mb-3">
      <%= @user.full_name %>
    </div>
    <div class="mb-9">
      <div class="badge badge-lg badge-light-primary d-inline">
        <%= @user.role_name %>
      </div>
    </div>
  </div>
  <div class="d-flex flex-stack fs-4 py-3">
    <div class="fw-bolder rotate collapsible active"
         id='parent-collapse'
         data-bs-toggle="collapse"
         href="#user-details"
         aria-expanded="true"
         aria-controls="user-details">
      <%= _('Detalles') %>
      <span class="ms-2 rotate-180">
				<span class="svg-icon svg-icon-3">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
					</svg>
				</span>
			</span>
    </div>
    <span data-controller="components--tooltip" title="" data-bs-original-title="<%= _('Editar detalles del usuario') %>">
        <%= link_to _('Editar'), edit_admin_user_path(@user), data: { turbo_frame: 'modal' }, class: 'btn btn-sm btn-light-primary' %>
		</span>
  </div>
  <div class="separator"></div>
  <div id="user-details" class="collapse show">
    <div class="pb-5 fs-6">
      <div class="fw-bolder mt-5">ID</div>
      <div class="text-gray-600"><%= @user.id %></div>
      <div class="fw-bolder mt-5">Email</div>
      <div class="text-gray-600">
        <a href="#" class="text-gray-600 text-hover-primary"><%= @user.email %></a>
      </div>
      <div class="fw-bolder mt-5"><%= _('Último login') %></div>
      <div class="text-gray-600"><%= @user.last_sign_in_at %></div>
      <div class="fw-bolder mt-5"><%= _('F. Creación') %></div>
      <div class="text-gray-600"><%= @user.created_at %></div>
    </div>
  </div>
<% end %>

