<!DOCTYPE html>
<html>
<head>
  <title>BackendTemplateRails7</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"/>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "plugins.bundle", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "style.bundle", "data-turbo-track": "reload" %>

  <%#= javascript_include_tag "plugins.bundle", "data-turbo-track": "reload", defer: true %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

</head>

<body id="kt_body" class="bg-body">
<div class="d-flex flex-column flex-root">

  <div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed"
       style="<%# 'background-image: url(assets/media/illustrations/sketchy-1/14.png' %>">
    <div class="d-flex flex-center flex-column flex-column-fluid p-10 pb-lg-20">
      <%= link_to root_path, class: 'mb-12' do %>
        <%= image_tag(Settings.app.logo_filename_path, class: 'h-40px') %>
      <% end %>
      <%= render partial: "shared/messages/flash", flash: flash %>
      <%= yield %>
    </div>
  </div>
</div>

</body>
</html>